*{
  background-image: linear-gradient(to top right, #78d1fa, #e1fff5);
  background-attachment: fixed;
}

#RegisterContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#RegisterInfoForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#SignInInfoForm {
  display: flex;
  flex-direction: column;
  align-content: center;

}

#NavBarContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#HollyGramLogo {
  height: 50px;
  width: auto;
}

#FeedContent {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

.FeedPosts, .SuggestionsForYou, .IndividualFeedPosts {
  border:1px solid blue
}

.App {
  text-align: center;
}
